.body {
  background: #202020;
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
}

.button-hovered:hover {
  opacity: .6;
}

.button-without-styles {
  padding: 0;
  border: none;
  cursor: pointer;
  background: transparent;
}